<div class="container">
  <br><br>
  <mat-table class="mat-elevation-z8" [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleSelection(row)"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="formName">
      <mat-header-cell *matHeaderCellDef> Return Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.formName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="periodicity">
      <mat-header-cell *matHeaderCellDef> Periodicity </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.periodicity}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dueDateOfFiling">
      <mat-header-cell *matHeaderCellDef> Due Date of Filing </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.getDueDateSchedulerSet[0].getDueDateOfFiling}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <br><br>
  <form [formGroup]="rocReturnForm" (ngSubmit)="addRocReturnInfo()">
    <div class=".container-fluid p-1">
      <div class="row">
        <label for="rocUserName" class="col-sm-2 col-form-label">User Name</label>
        <div class="col-sm-4">
          <input type="text" id="rocUserName" class="form-control" name="rocUserName" placeholder="User Name"
            formControlName="rocUserName" />
        </div>
        <label for="rocPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-4">
          <input type="password" id="rocPassword" class="form-control" name="rocPassword" placeholder="Password"
            formControlName="rocPassword" />
        </div>
      </div>
    </div>
    <div class=".container-fluid p-5">
      <div class="col text-center">
        <button type="submit" class="btn btn-primary">
          <span>Add Return Information</span>
        </button>
      </div>
    </div>
  </form>
</div>