<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Add New Client</h2>
      <br>
      <br>
      <form (ngSubmit)="f.form.valid && createNewClient()" #f="ngForm">
        <!--Client Name-->
        <div class="form-group">
          <label for="clientName">Client Name</label>
          <input type="text"
                 id="clientName"
                 class="form-control"
                 name="name"
                 placeholder="Client Name"
                 [(ngModel)]="clientModel.name"
                 #clientName="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && clientName.invalid }"
                  required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && clientName.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="clientName.errors?.required">Client Name is required</div>
          </div>
        </div>
        <!--Address-->
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text"
                 id="address"
                 class="form-control"
                 name="address"
                 placeholder="Address"
                 [(ngModel)]="clientModel.address"
                 #address="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && address.invalid }"
                 required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && address.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="address.errors?.required">Address is required</div>
          </div>
        </div>
        <!--Client Type-->
        <div class="form-group">
          <label for="clientType">Client Type</label>
          <select class="form-control"
                  id="clientType"
                  name="clientType"
                  [(ngModel)]="clientModel.clientType"
                  #clientType="ngModel"
                  (change)="toggleElements(clientType)"
                  required>
            <option value="individual" selected>Individual</option>
            <option value="company">Company</option>
            <option value="llp">LLP</option>
            <option value="huf">HUF</option>
            <option value="firm">Firm</option>
          </select>
        </div>
        <!--Mobile-->
        <div class="form-group">
          <label for="mobile">Mobile No.</label>
          <input type="text"
                 id="mobile"
                 class="form-control"
                 name="mobile"
                 placeholder="Mobile No."
                 [(ngModel)]="clientModel.mobile"
                 #mobile="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }"
                 required maxlength="10" minlength="10"/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && mobile.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="mobile.errors?.required">Mobile No. is required</div>
            <div *ngIf="mobile.errors?.maxlength">Mobile No. not of 10 digits</div>
            <div *ngIf="mobile.errors?.minlength">Mobile No. not of 10 digits</div>
          </div>
        </div>
        <!--Email Id-->
        <div class="form-group">
          <label for="emailId">Client Email Id</label>
          <input type="text"
                 id="emailId"
                 class="form-control"
                 name="emailId"
                 placeholder="Client Email Id"
                 [(ngModel)]="clientModel.clientEmail"
                 #emailId="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && emailId.invalid }"
                 required
                 email/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && emailId.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="emailId.errors?.required">Client Email Id is required</div>
            <div *ngIf="emailId.errors?.email">Not a valid Email Id</div>
          </div>
        </div>
        <!--dob or doi-->
        <div class="form-group">
          <label for="dob_or_doi">Date of birth/Date of Incorporation</label>
          <div class='input-group date' id='datetimepicker1'>
            <input type="date"
                   class="form-control"
                   id="dob_or_doi"
                   name="dobOrDoi"
                   [(ngModel)]="clientModel.doiOrDob"
                   #dob_or_doi="ngModel"
                   required/>
            <!-- input validation group -->
            <div *ngIf="f.submitted && dob_or_doi.invalid" class="invalid-input">
              <!-- individual validation errors -->
              <div *ngIf="dob_or_doi.errors?.required">Date of birth/Date of Incorporation is required</div>
            </div>
          </div>
        </div>
        <!--Name of Responsible Person-->
        <div class="form-group">
          <label for="responsiblePersonName" id="labelResponsiblePersonName" style="display: none">Name of Responsible Person</label>
          <input type="text"
                 id="responsiblePersonName"
                 class="form-control"
                 name="responsiblePersonName"
                 placeholder="Name of Responsible Person"
                 [(ngModel)]="clientModel.responsiblePersonName"
                 #responsiblePersonName="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && responsiblePersonName.invalid }"
                 style="display: none"
                 [required]="clientType.value!=='individual'"/>
           <!--input validation group -->
          <div *ngIf="f.submitted && responsiblePersonName.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="responsiblePersonName.errors?.required">Responsible person name is required</div>
          </div>
        </div>
        <!--&lt;!&ndash;PAN of Responsible Person&ndash;&gt;-->
        <!--<div class="form-group">-->
          <!--<label for="responsiblePersonPAN" id="labelResponsiblePersonPAN">PAN of Responsible Person</label>-->
          <!--<input type="text"-->
                 <!--id="responsiblePersonPAN"-->
                 <!--class="form-control"-->
                 <!--name="responsiblePersonPAN"-->
                 <!--placeholder="PAN of Responsible Person"-->
                 <!--[(ngModel)]="clientModel.responsiblePersonPAN"-->
                 <!--#responsiblePersonPAN="ngModel"-->
                 <!--[ngClass]="{ 'is-invalid': f.submitted && responsiblePersonPAN.invalid }"/>-->
          <!--&lt;!&ndash; input validation group &ndash;&gt;-->
          <!--<div *ngIf="f.submitted && responsiblePersonPAN.invalid" class="invalid-input">-->
            <!--&lt;!&ndash; individual validation errors &ndash;&gt;-->
            <!--<div *ngIf="responsiblePersonPAN.errors?.required">Responsible person PAN is required</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--DOB of Responsible Person-->
        <div class="form-group">
          <label for="responsiblePersonDOB" id="labelResponsiblePersonDOB" style="display: none">Date of birth of responsible person</label>
          <div class='input-group date' id='datetimepicker2'>
            <input type="date"
                   class="form-control"
                   id="responsiblePersonDOB"
                   name="responsiblePersonDOB"
                   [(ngModel)]="clientModel.responsiblePersonDOB"
                   #responsiblePersonDOB="ngModel"
                   style="display: none"
                   [required]="clientType.value!=='individual'"/>
            <!-- input validation group -->
            <div *ngIf="f.submitted && responsiblePersonDOB.invalid" class="invalid-input">
              <!-- individual validation errors -->
              <div *ngIf="responsiblePersonDOB.errors?.required">Date of birth of responsible person is required</div>
            </div>
          </div>
        </div>
        <!--Aadhaar of Responsible Person-->
        <div class="form-group">
          <label for="responsiblePersonAadhaar" id="labelResponsiblePersonAadhaar">Aadhaar of Responsible Person</label>
          <input type="text"
                 id="responsiblePersonAadhaar"
                 class="form-control"
                 name="responsiblePersonAadhaar"
                 placeholder="Aadhaar of Responsible Person"
                 [(ngModel)]="clientModel.responsiblePersonAadhaar"
                 #responsiblePersonAadhaar="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && responsiblePersonAadhaar.invalid }"
                 required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && responsiblePersonAadhaar.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="responsiblePersonAadhaar.errors?.required">Responsible person Aadhaar is required</div>
          </div>
        </div>
        <!--Submit button-->
        <button type="submit" class="btn btn-info pull-center">
          <span> Add Client</span>
        </button>
      </form>
    </div>
  </div>
</div>
