<div class="container">
    <br><br>
    <form [formGroup]="editClientForm" (ngSubmit)="updateClientInfo()">
        <div class="container-fluid p-1 row">
            <label for="clientName" class="col-sm-2 col-form-label">Client Name</label>
            <div class="col-sm-10">
                <input type="text" id="clientName" class="form-control" name="clientName" placeholder="Client Name"
                    formControlName="clientName" [ngClass]="{ 'is-invalid': submitted && clientName.invalid }" />
                <div *ngIf="submitted && clientName.invalid" class="invalid-input">
                    <!-- validation errors -->
                    <div *ngIf="clientName.errors.required">Client name is required</div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row">
            <label for="clientCode" class="col-sm-2 col-form-label">Client Code</label>
            <div class="col-sm-10">
                <input type="text" id="clientCode" class="form-control" name="clientCode" placeholder="Client Code"
                    formControlName="clientCode" [ngClass]="{ 'is-invalid': submitted && clientCode.invalid }" />
                <div *ngIf="submitted && clientCode.invalid" class="invalid-input">
                    <!-- validation errors -->
                    <div *ngIf="clientCode.errors.required">Client code is required</div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row">
            <label for="fatherName" class="col-sm-2 col-form-label">Father's Name</label>
            <div class="col-sm-10">
                <input type="text" id="fatherName" class="form-control" name="fatherName" placeholder="Father Name"
                    formControlName="fatherName" [ngClass]="{ 'is-invalid': submitted && fatherName.invalid }" />
                <div *ngIf="submitted && fatherName.invalid" class="invalid-input">
                    <!-- validation errors -->
                    <div *ngIf="fatherName.errors.required">Father's Name is required</div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row">
            <label for="flatNo" class="col-sm-2 col-form-label">Flat No.</label>
            <div class="col-sm-10">
                <input type="text" id="flatNo" class="form-control" name="flatNo" placeholder="Flat No."
                    formControlName="flatNo" [ngClass]="{ 'is-invalid': submitted && flatNo.invalid }" />
                <div *ngIf="submitted && flatNo.invalid" class="invalid-input">
                    <!-- validation errors -->
                    <div *ngIf="flatNo.errors.required">Flat No. is required</div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row">
            <label for="area" class="col-sm-2 col-form-label">Area</label>
            <div class="col-sm-10">
                <input type="text" id="area" class="form-control" name="area" placeholder="Area" formControlName="area"
                    [ngClass]="{ 'is-invalid': submitted && area.invalid }" />
                <div *ngIf="submitted && area.invalid" class="invalid-input">
                    <!-- validation errors -->
                    <div *ngIf="area.errors.required">Area is required</div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row">
            <label for="state" class="col-sm-2 col-form-label">State</label>
            <div class="col-sm-10">
                <select class="form-control" id="state" name="state" formControlName="state"
                    [ngClass]="{ 'is-invalid': submitted && state.invalid }">
                    <option *ngFor="let element of stateList" [ngValue]="element">
                        {{element.display}}
                    </option>
                </select>
                <!-- input validation group -->
                <div *ngIf="submitted && state.invalid" class="invalid-input">
                    <!-- individual validation errors -->
                    <div *ngIf="state.errors.required">State cannot be blank</div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row">
            <label for="city" class="col-sm-2 col-form-label">City</label>
            <div class="col-sm-10">
                <input type="text" id="city" class="form-control" name="city" placeholder="City" formControlName="city"
                    [ngClass]="{ 'is-invalid': submitted && city.invalid }" />
                <div *ngIf="submitted && city.invalid" class="invalid-input">
                    <!-- validation errors -->
                    <div *ngIf="city.errors.required">City is required</div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row">
            <label for="pin" class="col-sm-2 col-form-label">PIN Code</label>
            <div class="col-sm-10">
                <input type="text" id="pin" class="form-control" name="pin" placeholder="PIN" formControlName="pin"
                    [ngClass]="{ 'is-invalid': submitted && pin.invalid }" />
                <div *ngIf="submitted && pin.invalid" class="invalid-input">
                    <!-- validation errors -->
                    <div *ngIf="pin.errors.required">PIN Code is required</div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row">
            <label for="clientType" class="col-sm-2 col-form-label">Client Type</label>
            <div class="col-sm-10">
                <select class="form-control" id="clientType" name="clientType" formControlName="clientType"
                    [ngClass]="{ 'is-invalid': submitted && clientType.invalid }">
                    <option value="" selected></option>
                    <option value="individual">Individual</option>
                    <option value="company">Company</option>
                    <option value="llp">LLP</option>
                    <option value="huf">HUF</option>
                    <option value="firm">Firm</option>
                    <option value="association_of_persons">Association Of Persons</option>
                    <option value="trust">Trust</option>
                    <option value="body_of_individuals">Body Of Individuals</option>
                    <option value="local_authority">Local Authority</option>
                    <option value="artificial_juridical_person">Artificial Juridical Person</option>
                    <option value="government">Government</option>
                </select>
                <!-- input validation group -->
                <div *ngIf="submitted && clientType.invalid" class="invalid-input">
                    <!-- individual validation errors -->
                    <div *ngIf="clientType.errors.required">Client Type cannot be blank</div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row">
            <label for="mobile" class="col-sm-2 col-form-label">Mobile No.</label>
            <div class="col-sm-10">
                <input type="text" id="mobile" class="form-control" name="mobile" placeholder="Mobile No."
                    formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && mobile.invalid }" />
                <div *ngIf="submitted && mobile.invalid" class="invalid-input">
                    <!-- validation errors -->
                    <div *ngIf="mobile.errors.required">Mobile No. is required</div>
                    <div *ngIf="mobile.errors.minlength">Mobile No. not of 10 digits</div>
                    <div *ngIf="mobile.errors.maxlength">Mobile No. not of 10 digits</div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row">
            <label for="emailId" class="col-sm-2 col-form-label">Client Email Id</label>
            <div class="col-sm-10">
                <input type="text" id="emailId" class="form-control" name="emailId" placeholder="Client Email Id"
                    formControlName="emailId" [ngClass]="{ 'is-invalid': submitted && emailId.invalid }" />
                <div *ngIf="submitted && emailId.invalid" class="invalid-input">
                    <!-- validation errors -->
                    <div *ngIf="emailId.errors.required">Client Email Id is required</div>
                    <div *ngIf="emailId.errors.minlength">Not a valid Email Id</div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row">
            <label for="pan" class="col-sm-2 col-form-label">Client PAN No.</label>
            <div class="col-sm-10">
                <input type="text" id="pan" class="form-control" name="pan" placeholder="PAN No." formControlName="pan"
                    [ngClass]="{ 'is-invalid': submitted && pan.invalid }" />
                <div *ngIf="submitted && pan.invalid" class="invalid-input">
                    <!-- validation errors -->
                    <div *ngIf="pan.errors.required">PAN No. is required</div>
                    <div *ngIf="pan.errors.minlength">PAN No. not of 10 digits</div>
                    <div *ngIf="pan.errors.maxlength">PAN No. not of 10 digits</div>
                    <div *ngIf="pan.errors.pattern">Invalid PAN No.</div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row">
            <label for="dobOrDoi" class="col-sm-2 col-form-label">Date of birth/Date of Incorporation</label>
            <div class="col-sm-10">
                <div class='input-group date' id='datetimepicker1'>
                    <input type="date" class="form-control" id="dobOrDoi" name="dobOrDoi" formControlName="dobOrDoi"
                        [ngClass]="{'is-invalid': submitted && dobOrDoi.invalid}" />
                </div>
                <div *ngIf="submitted && dobOrDoi.invalid" class="invalid-input">
                    <!-- validation errors -->
                    <div *ngIf="dobOrDoi.errors.required">Date of birth/Date of Incorporation is required</div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row"
            [ngClass]="{ 'd-none' : clientType.value==='' || clientType.value==='individual',
                                                    'd-flex' : clientType.value!=='' && clientType.value!=='individual'}">
            <label for="responsiblePersonName" class="col-sm-2 col-form-label">Name of Responsible Person</label>
            <div class="col-sm-10">
                <input type="text" id="responsiblePersonName" class="form-control" name="responsiblePersonName"
                    placeholder="Name of Responsible Person" formControlName="responsiblePersonName"
                    [ngClass]="{ 'is-invalid': submitted && responsiblePersonName.invalid }" />
                <div *ngIf="submitted && responsiblePersonName.invalid" class="invalid-input">
                    <!-- validation errors -->
                    <div *ngIf="responsiblePersonName.errors.required">Name of Responsible Person is required</div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row" [ngClass]="{ 'd-none' : clientType.value==='' || clientType.value==='individual',
                                                'd-flex' : clientType.value!=='' && clientType.value!=='individual'}">
            <label for="responsiblePersonPan" class="col-sm-2 col-form-label">PAN No. of Responsible Person</label>
            <div class="col-sm-10">
                <input type="text" id="responsiblePersonPan" class="form-control" name="responsiblePersonPan"
                    placeholder="PAN No. of Responsible Person" formControlName="responsiblePersonPan"
                    [ngClass]="{ 'is-invalid': submitted && responsiblePersonPan.invalid }" />
                <div *ngIf="submitted && responsiblePersonPan.invalid" class="invalid-input">
                    <!-- validation errors -->
                    <div *ngIf="responsiblePersonPan.errors.required">PAN No. is required</div>
                    <div *ngIf="responsiblePersonPan.errors.minlength">PAN No. not of 10 digits</div>
                    <div *ngIf="responsiblePersonPan.errors.maxlength">PAN No. not of 10 digits</div>
                    <div *ngIf="responsiblePersonPan.errors.pattern">Invalid PAN No.</div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row" [ngClass]="{ 'd-none' : clientType.value==='' || clientType.value==='individual',
                                                'd-flex' : clientType.value!=='' && clientType.value!=='individual'}">
            <label for="responsiblePersonDob" class="col-sm-2 col-form-label">Date of birth/Date of
                Incorporation</label>
            <div class="col-sm-10">
                <div class='input-group date' id='datetimepicker2'>
                    <input type="date" class="form-control" id="responsiblePersonDob" name="responsiblePersonDob"
                        formControlName="responsiblePersonDob"
                        [ngClass]="{'is-invalid': submitted && responsiblePersonDob.invalid}" />
                </div>
                <div *ngIf="submitted && responsiblePersonDob.invalid" class="invalid-input">
                    <!-- validation errors -->
                    <div *ngIf="responsiblePersonDob.errors.required">Date of birth/Date of Incorporation is required
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row" [ngClass]="{ 'd-none' : clientType.value!=='individual',
                                                        'd-flex' : clientType.value==='individual'}">
            <label for="responsiblePersonAadhaar" class="col-sm-2 col-form-label">Aadhaar of Responsible Person</label>
            <div class="col-sm-10">
                <input type="text" id="responsiblePersonAadhaar" class="form-control" name="responsiblePersonAadhaar"
                    placeholder="Aadhaar of Responsible Person" formControlName="responsiblePersonAadhaar"
                    [ngClass]="{ 'is-invalid': submitted && responsiblePersonAadhaar.invalid }" />
                <div *ngIf="submitted && responsiblePersonAadhaar.invalid" class="invalid-input">
                    <!-- validation errors -->
                    <div *ngIf="responsiblePersonAadhaar.errors.required">PAN No. is required</div>
                    <div *ngIf="responsiblePersonAadhaar.errors.minlength">PAN No. not of 12 digits</div>
                    <div *ngIf="responsiblePersonAadhaar.errors.maxlength">PAN No. not of 12 digits</div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-1 row"
            [ngClass]="{'d-none' : clientType.value!=='company' && clientType.value!=='llp',
                                                    'd-flex' : clientType.value==='company'|| clientType.value==='llp'}">
            <label for="cin" class="col-sm-2 col-form-label">CIN No.</label>
            <div class="col-sm-10">
                <input type="text" id="cin" class="form-control" name="cin" placeholder="CIN No." formControlName="cin"
                    [ngClass]="{ 'is-invalid': submitted && cin.invalid }" />
                <div *ngIf="submitted && cin.invalid" class="invalid-input">
                    <!-- validation errors -->
                    <div *ngIf="cin.errors.required">PAN No. is required</div>
                    <div *ngIf="cin.errors.minlength">PAN No. not of 21 digits</div>
                    <div *ngIf="cin.errors.maxlength">PAN No. not of 21 digits</div>
                </div>
            </div>
        </div>
        <div class=".container-fluid p-5">
            <div class="col text-center">
                <button mat-raised-button type="submit" color="primary">
                    Update Client
                </button>
            </div>
        </div>
    </form>
</div>