<div class="container">
  <br><br>
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of navLinks; let i = index;" [routerLink]="link.link"
      routerLinkActive #rla="routerLinkActive" [active]="activeLinkIndex === i"
      (click)="activeLinkIndex = i" [routerLinkActiveOptions]="{exact: true}"
      disabled="{{checkClientType(link.label)}}">
      {{link.label}}
    </a>
  </nav>
  <div class="card-header card-header-style">{{navLinks[activeLinkIndex].label}}</div>
  <router-outlet></router-outlet>
  <div class="buttons-container">
    <button mat-raised-button style="width: 250px;" color="primary" (click)="navigateToClientMaster()">Finish</button>
    <button mat-raised-button style="width: 250px;" color="primary" (click)="navigateToClientMaster()">Skip</button>
  </div>
</div>