<div class="container">
  <br><br>
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of navLinks; let i = index;" [routerLink]="link.link"
      routerLinkActive #rla="routerLinkActive" [active]="activeLinkIndex === i"
      (click)="activeLinkIndex = i" [routerLinkActiveOptions]="{exact: true}"
      disabled="{{checkClientType(link.label)}}">
      {{link.label}}
    </a>
  </nav>
  <div class="card-header card-header-style">{{navLinks[activeLinkIndex].label}}</div>
  <br><br>

  <mat-table class="mat-elevation-z8" [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleSelection(row)"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="formName">
      <mat-header-cell *matHeaderCellDef> Return Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.formName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="periodicity">
      <mat-header-cell *matHeaderCellDef> Periodicity </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.periodicity}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dueDateOfFiling">
      <mat-header-cell *matHeaderCellDef> Due Date of Filing </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dueDateOfFiling}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <br><br>

  <router-outlet></router-outlet>
  <div class="buttons-container">
    <button mat-raised-button style="width: 250px;" color="primary" (click)="navigateToClientMaster()">Finish</button>
    <button mat-raised-button style="width: 250px;" color="primary" (click)="navigateToClientMaster()">Skip</button>
  </div>
</div>