<div class="container container-bg-color">
  <div class="card card-primary">
    <div class="card-header card-header-style">Return Information</div>
    <div class="card-block">
      <nav mat-tab-nav-bar [backgroundColor]="background">
        <a mat-tab-link *ngFor="let link of navLinks; let i = index;"
        [routerLink]="link.link"
        routerLinkActive="mat-tab-link-active" #rla="routerLinkActive"
        [active]="rla.isActive"
        (click)="activeLinkIndex = i"
        [routerLinkActiveOptions]="{exact: true}"
        disabled="{{checkClientType(link.label)}}" >
        {{link.label}}
        </a>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
