[_nghost-c5] {
  display: inline-block !important;
  width: 100%;
}
.mat-tab-link-active,
.mat-tab-label-active {
  background-color: #5EADB0;
  color: black;
  border: 1px solid black;
  font-weight: bold;
  font-size: large;
  text-align: center;
}
.mat-tab-links,
.mat-tab-link {
  display: table;
  width: 100%;
  display: table-cell;
  color: black;
}
.tabContentContainer {
  border: 1px solid black;
  background: #ffffff 50% 50% repeat-x;
}