<div class="container">
  <br><br>
  <mat-table class="mat-elevation-z8" [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleSelection(row)"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="formName">
      <mat-header-cell *matHeaderCellDef> Return Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.formName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="periodicity">
      <mat-header-cell *matHeaderCellDef> Periodicity </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.periodicity}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dueDateOfFiling">
      <mat-header-cell *matHeaderCellDef> Due Date of Filing </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dueDateOfFiling}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <br><br>
  <form [formGroup]="tdsReturnForm" (ngSubmit)="addTdsReturnInfo()">
    <div class=".container-fluid p-1">
      <div class="row">
        <label for="tdsUserName" class="col-sm-2 col-form-label">User Name</label>
        <div class="col-sm-4">
          <input type="text" id="tdsUserName" class="form-control" name="tdsUserName" placeholder="User Name"
            formControlName="tdsUserName" [ngClass]="{ 'is-invalid': submitted && tdsUserName.invalid }" />
          <div *ngIf="submitted && tdsUserName.invalid" class="invalid-input">
            <!-- validation errors -->
            <div *ngIf="tdsUserName.errors.required">TDS User name is required</div>
          </div>
        </div>
        <label for="tdsPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-4">
          <input type="password" id="tdsPassword" class="form-control" name="tdsPassword" placeholder="Password"
            formControlName="tdsPassword" [ngClass]="{ 'is-invalid': submitted && tdsPassword.invalid }" />
          <div *ngIf="submitted && tdsPassword.invalid" class="invalid-input">
            <!-- validation errors -->
            <div *ngIf="tdsPassword.errors.required">TDS Password is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class=".container-fluid p-1">
      <div class="row">
        <label for="tracesTdsUserName" class="col-sm-2 col-form-label">Traces User Name</label>
        <div class="col-sm-4">
          <input type="text" id="tracesTdsUserName" class="form-control" name="tracesTdsUserName"
            placeholder="User Name" formControlName="tracesTdsUserName"
            [ngClass]="{ 'is-invalid': submitted && tracesTdsUserName.invalid }" />
          <div *ngIf="submitted && tracesTdsUserName.invalid" class="invalid-input">
            <!-- validation errors -->
            <div *ngIf="tracesTdsUserName.errors.required">TDS Traces User name is required</div>
          </div>
        </div>
        <label for="tracesTdsPassword" class="col-sm-2 col-form-label">Traces Password</label>
        <div class="col-sm-4">
          <input type="password" id="tracesTdsPassword" class="form-control" name="tracesTdsPassword"
            placeholder="Password" formControlName="tracesTdsPassword"
            [ngClass]="{ 'is-invalid': submitted && tracesTdsPassword.invalid }" />
          <div *ngIf="submitted && tracesTdsPassword.invalid" class="invalid-input">
            <!-- validation errors -->
            <div *ngIf="tracesTdsPassword.errors.required">TDS Traces Password is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container p-1">
      <div class="row justify-content-md-center">
        <label for="tdsTanNo" class="col-sm-2 col-form-label">TAN No</label>
        <div class="col-sm-4">
          <input type="text" id="tdsTanNo" class="form-control" name="tdsTanNo" placeholder="TAN No"
            formControlName="tdsTanNo" [ngClass]="{ 'is-invalid': submitted && tdsTanNo.invalid }" />
          <div *ngIf="submitted && tdsTanNo.invalid" class="invalid-input">
            <!-- validation errors -->
            <div *ngIf="tdsTanNo.errors.required">TAN No. is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class=".container-fluid p-5">
      <div class="col text-center">
        <button type="submit" class="btn btn-primary">
          <span>Add Return Information</span>
        </button>
      </div>
    </div>
  </form>
</div>