<div class="container container-bg-color">
  <div class="card card-primary">
    <div class="card-header card-header-style">GST</div>
    <div class="card-block">
      <div formArrayName="gstReturnForm"
           *ngFor="let returnForm of gstReturnForm.get('returnForms').controls; index as i">
        <h3 class="p-3">{{ i }} + GST Return Credentials</h3>
        <div [formGroupName]="i">
          <div class=".container-fluid p-1">
            <div class="row">
              <label for="{{'gstFlatNo' + i}}" class="col-sm-2 col-form-label">Flat No.</label>
              <div class="col-sm-4">
                <input type="text"
                      id="{{'gstFlatNo' + i}}"
                      class="form-control"
                      name="gstFlatNo"
                      placeholder="Flat No."
                      formControlName="gstFlatNo1"
                       [ngClass]="{ 'is-invalid': submitted && returnForm.controls.gstFlatNo1.invalid }"/>
                <div *ngIf="submitted && returnForm.controls.gstFlatNo1.invalid" class="invalid-input">
                  <!-- validation errors -->
                  <div *ngIf="returnForm.controls.gstFlatNo1.errors?.required">Flat No. is required</div>
                </div>
              </div>
              <label for="gstArea" class="col-sm-2 col-form-label">Area</label>
              <div class="col-sm-4">
                <input type="text"
                      id="gstArea"
                      class="form-control"
                      name="gstArea"
                      placeholder="Area"
                      formControlName="gstArea"
                       [ngClass]="{ 'is-invalid': submitted && gstArea.invalid }"/>
                <div *ngIf="submitted && gstArea.invalid" class="invalid-input">
                  <!-- validation errors -->
                  <div *ngIf="gstArea.errors.required">Area is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class=".container-fluid p-1">
            <div class="row">
              <label for="gstCity" class="col-sm-2 col-form-label">City</label>
              <div class="col-sm-4">
                <input type="text"
                       id="gstCity"
                       class="form-control"
                       name="gstCity"
                       placeholder="City"
                       formControlName="gstCity"
                       [ngClass]="{ 'is-invalid': submitted && gstCity.invalid }"/>
                <div *ngIf="submitted && gstCity.invalid" class="invalid-input">
                  <!-- validation errors -->
                  <div *ngIf="gstCity.errors.required">City Name is required</div>
                </div>
              </div>
              <label for="gstState" class="col-sm-2 col-form-label">State</label>
              <div class="col-sm-4">
                <input type="text"
                       id="gstState"
                       class="form-control"
                       name="gstState"
                       placeholder="State"
                       formControlName="gstState"
                       [ngClass]="{ 'is-invalid': submitted && gstState.invalid }"/>
                <div *ngIf="submitted && gstState.invalid" class="invalid-input">
                  <!-- validation errors -->
                  <div *ngIf="gstState.errors.required">State Name is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class=".container-fluid p-1">
            <div class="row">
              <label for="gstPin" class="col-sm-2 col-form-label">PIN</label>
              <div class="col-sm-4">
                <input type="text"
                       id="gstPin"
                       class="form-control"
                       name="gstPin"
                       placeholder="PIN"
                       formControlName="gstPin"
                       [ngClass]="{ 'is-invalid': submitted && gstPin.invalid }"/>
                <div *ngIf="submitted && gstPin.invalid" class="invalid-input">
                  <!-- validation errors -->
                  <div *ngIf="gstPin.errors.required">PIN Number is required</div>
                </div>
              </div>
              <label for="gstNo" class="col-sm-2 col-form-label">GST No</label>
              <div class="col-sm-4">
                <input type="text"
                       id="gstNo"
                       class="form-control"
                       name="gstNo"
                       placeholder="GST No"
                       formControlName="gstNo"
                       [ngClass]="{ 'is-invalid': submitted && gstNo.invalid }"/>
                <div *ngIf="submitted && gstNo.invalid" class="invalid-input">
                  <!-- validation errors -->
                  <div *ngIf="gstNo.errors.required">GST Number is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class=".container-fluid p-1">
            <div class="row">
              <label for="gstUserName" class="col-sm-2 col-form-label">User Name</label>
              <div class="col-sm-4">
                <input type="text"
                       id="gstUserName"
                       class="form-control"
                       name="gstUserName"
                       placeholder="User Name"
                       formControlName="gstUserName"
                       [ngClass]="{ 'is-invalid': submitted && gstUserName.invalid }"/>
                <div *ngIf="submitted && gstUserName.invalid" class="invalid-input">
                  <!-- validation errors -->
                  <div *ngIf="gstUserName.errors.required">GST User name is required</div>
                </div>
              </div>
              <label for="gstPassword" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-4">
                <input type="password"
                       id="gstPassword"
                       class="form-control"
                       name="gstPassword"
                       placeholder="Password"
                       formControlName="gstPassword"
                       [ngClass]="{ 'is-invalid': submitted && gstPassword.invalid }"/>
                <div *ngIf="submitted && gstPassword.invalid" class="invalid-input">
                  <!-- validation errors -->
                  <div *ngIf="gstPassword.errors.required">GST Password is required</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=".container-fluid p-5">
        <div class="container p-4">
          <div class="row justify-content-center">
            <div class="col-4 text-center">
              <button type="button" class="btn btn-secondary" (click)="addReturnForm()">Add GST
                Credentials
              </button>
            </div>
            <div class="col-4 text-center">
              <button type="button" class="btn btn-secondary" (click)="removeReturnForm()">Remove GST
                Credentials
              </button>
            </div>
          </div>
        </div>
        <div class="col text-center">
          <button type="submit" class="btn btn-primary" (click)="saveReturnInfo()">
            <span>Add Return Information</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
