<div class="align-top-style">
  <mat-grid-list cols="4" rowHeight="50px" gutterSize="5px">
    <mat-grid-tile
        *ngFor="let tile of headerTiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.border]="tile.color">
          {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
</div>
<br>
<div style="display: flex; justify-content: flex-end;">
  <button mat-raised-button color="primary" [disabled]="!isReturnCredsArrayNotEmpty" (click)="navigateToClientReport()">Print Client Report</button>
  <button mat-raised-button color="primary" [disabled]="isReturnCredsArrayNotEmpty" (click)="addReturnCredentials()">Add Return Credentials</button>
  <button mat-raised-button color="primary" [disabled]="!isReturnCredsArrayNotEmpty" (click)="editReturnCredentials()">Edit Return Credentials</button>
</div>
<br>
<!-- <div class="container"> -->
  <nav mat-tab-nav-bar>
    <a mat-tab-link [hidden]="!link.showLink" *ngFor="let link of navLinks; let i = index;" [routerLink]="link.link"
      routerLinkActive #rla="routerLinkActive" [active]="activeLinkIndex == i"
      (click)="activeLinkIndex = i" [routerLinkActiveOptions]="{exact: true}">
      {{link.label}}
    </a>
  </nav>
  <router-outlet></router-outlet>
<!-- </div> -->
<div class="align-bottom-style">
  <mat-grid-list cols="4" rowHeight="50px" gutterSize="5px">
    <mat-grid-tile
        *ngFor="let tile of footerTiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.border]="tile.color">
          {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>    
</div>
