<div class="container container-bg-color">
  <div class="card card-primary">
    <div class="card-header card-header-style">Income Tax</div>
    <div class="card-block">
      <form [formGroup]="incomeTaxReturnForm" (ngSubmit)="addIncomeTaxReturnInfo()">
        <div class="form-group row">
          <label for="incomeTaxUserName" class="col-sm-2 col-form-label">User Name</label>
          <div class="col-sm-4">
            <input type="text"
                   id="incomeTaxUserName"
                   class="form-control"
                   name="incomeTaxUserName"
                   placeholder="User Name"
                   formControlName="incomeTaxUserName"/>
          </div>
          <label for="incomeTaxPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-4">
            <input type="password"
                   id="incomeTaxPassword"
                   class="form-control"
                   name="incomeTaxPassword"
                   placeholder="Password"
                   formControlName="incomeTaxPassword"/>
          </div>
          <div class="col text-center p-4">
            <button type="submit" class="btn btn-primary">
              <span>Add Return Information</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
