<div class="container">
  <br><br>
  <mat-table class="mat-elevation-z8" [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleSelection(row)"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="formName">
      <mat-header-cell *matHeaderCellDef> Return Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.formName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="periodicity">
      <mat-header-cell *matHeaderCellDef> Periodicity </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.periodicity}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dueDateOfFiling">
      <mat-header-cell *matHeaderCellDef> Due Date of Filing </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dueDateOfFiling}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <br><br>
  <form [formGroup]="incomeTaxReturnForm" (ngSubmit)="addIncomeTaxReturnInfo()">
    <div class="form-group row">
      <label for="incomeTaxUserName" class="col-sm-2 col-form-label">User Name</label>
      <div class="col-sm-4">
        <input type="text" id="incomeTaxUserName" class="form-control" name="incomeTaxUserName" placeholder="User Name"
          formControlName="incomeTaxUserName" [ngClass]="{ 'is-invalid': submitted && incomeTaxUserName.invalid }" />
        <div *ngIf="submitted && incomeTaxUserName.invalid" class="invalid-input">
          <!-- validation errors -->
          <div *ngIf="incomeTaxUserName.errors.required">Income Tax User name is required</div>
        </div>
      </div>
      <label for="incomeTaxPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-4">
        <input type="password" id="incomeTaxPassword" class="form-control" name="incomeTaxPassword"
          placeholder="Password" formControlName="incomeTaxPassword"
          [ngClass]="{ 'is-invalid': submitted && incomeTaxPassword.invalid }" />
        <div *ngIf="submitted && incomeTaxPassword.invalid" class="invalid-input">
          <!-- validation errors -->
          <div *ngIf="incomeTaxPassword.errors.required">Income Tax Password is required</div>
        </div>
      </div>
      <div class="col text-center p-4">
        <button type="submit" class="btn btn-primary">
          <span>Add Return Information</span>
        </button>
      </div>
    </div>
  </form>
</div>