<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [hidden]="!navBar.getVisible">
      <mat-icon (click)="toggleSidenav()">menu</mat-icon>
    </button>
    <h1>Syncup</h1>
    <span class="title-center">{{navBar.getToolBarTitle}}</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [hidden]="!navBar.getVisible">
    <mat-nav-list>
      <a (click)="toggleSidenav()" mat-list-item [routerLink]="'/home'">Home</a>
      <a (click)="toggleSidenav()" mat-list-item [routerLink]="'/addclient'"> Add New Client </a>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              View Return Forms
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a (click)="toggleSidenav()" mat-list-item [routerLink]="['/returnForms', 'incomeTax']">Income Tax</a>
          <a (click)="toggleSidenav()" mat-list-item [routerLink]="['/returnForms', 'tds']">TDS</a>
          <a (click)="toggleSidenav()" mat-list-item [routerLink]="['/returnForms', 'gst']">GST</a>
          <a (click)="toggleSidenav()" mat-list-item [routerLink]="['/returnForms', 'roc']">ROC</a>
        </mat-expansion-panel>
      </mat-accordion>
      <a (click)="toggleSidenav()" mat-list-item [routerLink]="'/client-master'">Client Master</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>