<div class="container">
  <h2 align="center">Sign Up</h2>
  <br>
  <br>
  <form (ngSubmit)="f.form.valid && createAccount()" #f="ngForm" role="form">
    <!--Sign Up User Id-->
    <div class="form-group row">
      <label for="signUpUserId" class="col-sm-2 col-form-label">User Id</label>
      <div class="col-sm-10">
        <input type="text"
               id="signUpUserId"
               class="form-control"
               name="signUpUserId"
               placeholder="User Id"
               [(ngModel)]="signUpModel.userId"
               #signUpUserId="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && signUpUserId.invalid }"
               required/>
        <!-- input validation group -->
        <div *ngIf="f.submitted && signUpUserId.invalid" class="invalid-input">
          <!-- individual validation errors -->
          <div *ngIf="signUpUserId.errors?.required">User Id is required</div>
        </div>
      </div>
    </div>
    <!--Sign Up Password-->
    <div class="form-group row">
      <label for="signUpPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password"
               id="signUpPassword"
               class="form-control"
               name="signUpPassword"
               placeholder="Password"
               [(ngModel)]="signUpModel.password"
               #signUpPassword="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && signUpPassword.invalid }"
               required/>
        <!-- input validation group -->
        <div *ngIf="f.submitted && signUpPassword.invalid" class="invalid-input">
          <!-- individual validation errors -->
          <div *ngIf="signUpPassword.errors?.required">Password is required</div>
        </div>
      </div>
    </div>
    <!--Sign Up Confirm Password-->
    <div class="form-group row">
      <label for="signUpConfirmPassword" class="col-sm-2 col-form-label">Retype Password</label>
      <div class="col-sm-10">
        <input type="password"
               id="signUpConfirmPassword"
               class="form-control"
               name="signUpConfirmPassword"
               placeholder="Retype Password"
               [(ngModel)]="signUpModel.confirmPassword"
               #signUpConfirmPassword="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && signUpConfirmPassword.invalid }"
               required appConfirmEqualValidator="signUpPassword"/>
        <!-- input validation group -->
        <div *ngIf="f.submitted && signUpConfirmPassword.invalid" class="invalid-input">
          <!-- individual validation errors -->
          <div *ngIf="signUpConfirmPassword.errors?.required">Password is required</div>
          <div *ngIf="signUpConfirmPassword.errors?.notEqual">Password does not match</div>
        </div>
      </div>
    </div>
    <!--Submit button-->
    <div class="form-row text-center">
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Create Account</button>
      </div>
    </div>
  </form>
</div>
