.title-center {
    flex: 1 1 auto;
    text-align: center;
  }

  .card-container {
    /*  not needed styles to reflect it */ 
    background: blue;
    padding: 10px;
    color: white;

    /* needed styles below */
    display: flex;
    justify-content: center;
  }