/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.invalid-input{
  color: red;
}

.is-invalid{
  border: 2px solid red
}

.card-primary{
  border: none;
  margin: 20px;
  text-align: center;
  background-color: #bbdefb;
}

.card-header-style{
  background-color: #9933CC;
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-style{
  background-color: #9933CC;
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 0 auto;
}

@media print {
  .isPrinting > * { display: none; }
  .isPrinting app-print-layout { display: block; }
}

html, body { 
  min-height: 100%;
  overflow: auto;
}
body {margin: auto; font-family: Roboto, "Helvetica Neue", sans-serif; }
